@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.no-ring:focus {
  outline: none !important;
  --tw-ring-color: transparent !important;
  --tw-ring-shadow: none !important;
}

/* fix style for upload image by antd */

:where(.css-dev-only-do-not-override-1r287do).ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture
  .ant-upload-list-item,
:where(.css-dev-only-do-not-override-1r287do).ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item,
:where(.css-dev-only-do-not-override-1r287do).ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item {
  padding: 0 !important;
  border: none !important;
}

:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-thumbnail,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-thumbnail,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item-thumbnail,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item-thumbnail,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-thumbnail
  img,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-thumbnail
  img,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item-thumbnail
  img,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item-thumbnail
  img {
  border-radius: 8px !important;
}

:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item::before,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item::before,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item::before,
:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item::before {
  width: calc(100%) !important;
  height: calc(100%) !important;
  border-radius: 8px !important;
}

:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  border: 2px dashed #c6c6c6 !important;
}

:where(
    .css-dev-only-do-not-override-1r287do
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select:hover {
  border: 2px dashed #ffddb0 !important;
}

/* fix style for upload image by antd */
